#projects {
	max-width: 500px;
	margin: 4rem auto;
	padding: 1rem 0.5rem;
	h2 {
		// margin-bottom: 1rem;
		font-size: 2rem;
		display: block;
	}
}

.project__wrap {
	@include boxShadow;
	max-width: 500px;
	margin: 0 auto;
	border-radius: 10px;
	img {
		width: 90%;
		display: block;
		margin: 2rem auto;
		padding-top: 0.95rem;
	}
	h3 {
		font-size: 1.5rem;
		padding: 0 0.5rem;
	}
	p {
		padding: 0 0.5rem;
		margin-top: 1rem;
	}
	span {
		display: block;
		margin: 1rem auto;
		padding-bottom: 1rem;
		width: 90%;
		text-align: center;

		a {
			@include button;
		}
	}
}

@media screen and (min-width: 768px) {
	#projects {
		max-width: none;
		h2 {
			max-width: 850px;
			margin: 0 auto;
			margin-bottom: 1rem;
		}
	}
	.project__container {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		max-width: 850px;
		margin: 0 auto;
	}
	.project__wrap {
		max-width: 240px;
		img {
			width: 100%;
		}
	}
}

@media screen and (min-width: 1024px) {
	#projects {
		h2 {
			max-width: 1200px;
		}
	}
	.project__container {
		max-width: 1200px;
	}
	.project__wrap {
		max-width: 350px;
	}
}
