@keyframes bounce-in-right {
	0% {
		opacity: 0;
		transform: translateX(100px) rotate(85deg);
	}
	40% {
		opacity: 1;
		transform: translateX(-40px) rotate(-65deg);
	}
	
	60% {
		transform: translateX(35px) rotate(35deg);
	}

	80% {
		transform: translateX(-20px) rotate(-45deg);
	}

	100% {
		transform: translateX(0) rotate(0deg);
	}
}