* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	// outline: 1px solid $text;
	// outline: 1px solid red;
	font-family: 'Linux';
	transition: all 0.3s ease-in-out;
}

body {
	background-color: var(--clr-body-bg);
	p {
		color: var(--clr-paragraph)
	}
}

main {
	position: relative;
}

.hide {
	display: none !important;
}

.show {
	transform: translateX(0);
}

.fixed {
	position: fixed;
}

.bttop__show {
	animation: bounce-in-right 1s ease;

}
.bttop__hide {
	transform: translateX(100px);
	
}

.bttop__wrap {
	position: fixed;
	right: 1rem;
	bottom: 1.2rem;
	z-index: 1;
}

.bttop {
	color: var(--clr-btn-bg);
	
	&:visited {
		color: var(--clr-btn-bg);
	}
	span {
		transition: transform 0.3s ease-in-out;
		margin-right: 0.5rem;
		font-size: 2rem;
		border: 2px solid var(--clr-btn-bg);
		border-radius: 50px;
		padding: 0.25rem 0.5rem;	
		background-color: var(--clr-body-bg);
		@include boxShadow;
		&:hover {
			transform: scale(1.3);
		}
	}
}
