* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
main {
	position: relative;
}

.hide {
	display: none !important;
}

.show {
	transform: translateX(0);
}

.fixed {
	position: fixed;
}



.bttop__wrap {
	position: fixed;
	right: 1rem;
	bottom: 1.2rem;
	z-index: 1;
}

.bttop {
	color: #000;
	
	&:visited {
		color: #000;
	}
	span {
		transition: transform 0.3s ease-in-out;
		margin-right: 0.5rem;
		font-size: 2rem;
		border: 2px solid black;
		border-radius: 50px;
		padding: 0.25rem 0.5rem;	
		background-color: $text;
		box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
	}
}

.bttop__show {
	animation: bounce-in-right 1s ease;

}
.bttop__hide {
	transform: translateX(100px);
	
}

@keyframes bounce-in-right {
	0% {
		opacity: 0;
		transform: translateX(100px) rotate(85deg);
	}
	40% {
		opacity: 1;
		transform: translateX(-40px) rotate(-65deg);
	}
	
	60% {
		transform: translateX(35px) rotate(35deg);
	}

	80% {
		transform: translateX(-20px) rotate(-45deg);
	}

	100% {
		transform: translateX(0) rotate(0deg);
	}
}

